/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Lato;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/**
Custom Styles
**/
h1 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  font-weight: 300;
}

h2 {
  line-height: 36px;
  font-size: 20px;
  font-weight: 200;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  padding-top: 20px;
  color: #008ae6;
}

a {
  text-decoration: none;
}

.fa-stack .fa-circle {
  color: #bfd7fc;
}


/**
Nav
**/
.nav li {
  display: inline;
}

.nav {
  padding: 20px 50px;
  background: #008ae6;
  text-transform: uppercase;
}

.nav a {
  color: white;
  padding: 20px 0px 20px 0px;
  line-height: 20px;
  margin-right: 10px;
}

.nav a:hover {
  text-decoration: none;
  border-bottom: solid white 3px;
}

/**
Header
**/
header {
  background-color: #1aa3ff;
  padding: 33px 50px;
  color: white;
}

/**
Hero
**/
.hero {
  background-color: #666666;
  color: white;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0 5px 5px -5px #333;
  padding: 22px 50px;
}

/**
Grid
**/

.main {
  display: flex;
  margin-bottom: 25px;
}

#left-column {
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .4);
  padding-left: 50px;
  flex: 0 0 400px;
}

#right-column {
  padding-left: 50px;
  /* flex-grow: 2; */
  /* flex-basis: 100%; */
}

/*
Tables
*/
th, td {
  padding: 12px 0;
}

th {
  font-weight: 900;
  padding-right: 15px;
  text-align: left;
}
td{
  font-weight: 300;
}
.info th,
.info td {
  border-bottom: 1px solid #cecfd5;
}

.work td {
  border-bottom: 1px solid #cecfd5;
}

.hobbies td {
  text-align: center;
  padding-top: 0;
  padding-bottom: 5px;
}

.work th {
  padding-top: 25px;
  padding-bottom: 0px;
}

tr:first-child td {
  padding-top: 20px
}

/**
progress bars
**/
progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin-left: 15px;
  background: #888;
  color: #028CD5;
}

progress::-webkit-progress-bar {
  background: #888;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #028CD5;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background: #028CD5;
}

.hobbiesflex{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hobby{
  margin-right: 40px;
  text-align: center;
  padding: 10px 0;
}


/**
Circles
**/
.circle-section {
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.circle-section span {
  font-family: lato;
  font-size: 16px;
  line-height: 110px;
  width: 100%;
}


/**
Footer
*/
.social .fa-stack .fa-circle {
  color: #008ae6;
}

.contact {
  padding: 20px 0;
  display: flex;
  justify-content:space-around;
}

.social a p {
  color: white
}

.contact {
  background-color: #1aa3ff;
  text-align: center;

}

footer {
  background-color: #008ae6;
  text-align: center;
  color: white;
  letter-spacing: .5px;
  padding: 10px 0px;
}

footer small {
  float: right;
}

@media (max-width: 600px){
  .main {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }

  #left-column {
    padding-left: 20px;
    flex-grow: 2;
  }

  #right-column {
    padding-left: 20px;
    /* flex-grow: 2; */
    /* flex-basis: 100%; */
  }
  .contact, footer{
    font-size: 12px;
  }
}
